$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

.image-preview {
    height: 100px;
    width: 100px;
    object-fit: scale-down;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
